<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Front-end Developer based in Vancouver, Masayuki Suzuki Portfolio Website.">
    <meta name="keyword" content="front-end developer,development,javascript,web design,website, Vancouver, Canada, Japanese">
    <meta name="author" content="Masayuki Suzuki">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/dist/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <title>Masayuki Suzuki Portfolio WebSite</title>
  </head>
  <body>
