doctype html
html(lang="en", itemscope="", itemtype="http://schema.org/WebSite", prefix="og: http://ogp.me/ns#")
  include ../partials/header
  body
    style.
      body{
        background: #e8e8e0;
      }
      .privacy-policy{
        font-family: sans-serif;
        margin: 80px auto 0;
        max-width: 600px;
        width: 90%;
      }
      p{
        line-height: 1.5;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.02em;
      }
      p:last-of-type{
        text-align: center;
      }
      h1{
        font-size: 40px;
        font-weight: 500;
        text-align: center;
      }
      a{
        background: #3c3c3c;
        border-radius: 4px;
        color: #fff;
        display: inline-block;
        line-height: 1;
        margin: 30px 0 0;
        padding: 15px 60px;
        text-decoration: none;
        text-transform: uppercase;
      }
      a:active,
      a:link,
      a:visited{
        color: #fff;
      }
    .privacy-policy
      h1 Privacy Policy
      p This website is using Google Analytics in order to improving and analyze this one. Google may set up or read a cookie to your browser at that time. Also web browser using this website send non-personal informations automaticaly. (For example, Website address which used, IP address and etc.)
      p This website may use those information in order to grasp usage situation or to improve user experience.
      p The user using this website allow that this website and Google use those information for the above way and purpose.
      p Accessing, collection and usage those information way is determined by Privacy Policy for Google Analytics and the Google Privacy Policy.
      p
        a(href="/") top page
